.navbar-brand{
    font-style: white; 
    margin-left: 30px; 
    padding: 10px; 
    font-weight: bold; 
    background-color: #11c0b7;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size : 24px;
}
.nav-item{
    float:right;
}
.dropdown-item{
    color: #6D8092; 
}


img {
    width: 250px;
    height:200px;
    padding: 20px;
    float:left;
}
.second{
    clear:left;
}
.title{
    color: #0BADA6;  
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder; 
    padding-top: 25px; 
}
p{
    color: #6D8092;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px; 
   }
.box {
    margin-top: 60px; 
    margin-bottom: 62px; 
    padding: 10px 20px 15px; 
    color:black;
    background-color: white; 

}