body{
    background-color: #EDEDED; 
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav.navbar-brand {
    margin-left: 30px; 
    padding: 15px; 
    font-weight: bold; 
    overflow:hidden;
}

.dropdown-item{
    color: #6D8092; 
}

img {
    padding-right: 12px;
    float:left;
}
.second{
    clear:left;
}
.title{
    font-family: Georgia, 'Times New Roman', Times, sans-serif;
    font-weight: bold; 
    padding-top: 25px; 
}
p{
    color: #6D8092;
    font-family:Georgia, 'Times New Roman', Times, sans-serif;
    font-size: 18px; 
}

.box {
    margin-top: 60px; 
    margin-bottom: 62px; 
    padding: 10px 20px 15px; 
    color:black;
    background-color: white;

}